<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAIawl8xDJpWq8nfvxd9JL1-8A7VIW-Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>165442521942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.exobook</string>
	<key>PROJECT_ID</key>
	<string>exobook-6b09b</string>
	<key>STORAGE_BUCKET</key>
	<string>exobook-6b09b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165442521942:ios:31bfbe0284b2ba9b4b24f7</string>
</dict>
</plist>